MYSQL_USER=lines
MYSQL_PASSWORD=change-me
MYSQL_DATABASE=linesdb
MYSQL_DATABASE_TEST=linesdb_test
MYSQL_HOST=localhost
MYSQL_PORT=3306
# MYSQL_UNIX_SOCKET=/var/run/mysqld/mysqld.sock

MQTT_HOST=localhost
MQTT_PORT=1883

MEMCACHE_HOST=localhost
MEMCACHE_PORT=11211

LOCAL_RMQ_HOST=localhost
LOCAL_RMQ_PORT=5672
LOCAL_RMQ_USERNAME=mqtt-test
LOCAL_RMQ_PASSWORD=mqtt-test

PT_REMOTE_RMQ_HOST=amqps.plannatech.com
PT_REMOTE_RMQ_PORT=5676
PT_REMOTE_RMQ_VHOST=WebRT
PT_REMOTE_RMQ_USERNAME=change-me
PT_REMOTE_RMQ_PASSWORD=change-me
PT_REMOTE_QUEUE=dds-BetSlipRTv4
PT_LOCAL_QUEUE=plannatech

PUBLISH_URL_DEFAULT=http://localhost/receiver_v2.php?base=1
PUBLISH_URL_FF=http://localhost/receiver_ff.php?base=1

SHOVEL_PRIMARY_HOST=localhost
SHOVEL_SECONDARY_HOST=localhost
